<!doctype html ngapp="app">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="assets/css/topcoat-mobile-dark.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Westpac</title>
</head>

<body class="full" ng-controller="MainController">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Quiz</h1>
        </div>
    </div>
    <div class="topcoat-button-list centerize">
        <p>
            <button class="topcoat-button--large larger" data-choice="a" ng-click="setChoice('a')">A</button>
        </p>
        <p>
            <button class="topcoat-button--large larger" data-choice="b" ng-click="setChoice('b')">B</button>
        </p>
        <p>
            <button class=" topcoat-button--large larger" data-choice="c" ng-click="setChoice('c')">C</button>
        </p>
        <p>
            <button class="topcoat-button--large larger" data-choice="d" ng-click="setChoice('d')">D</button>
        </p>
    </div>
    <div class="md-overlay"></div>
    <div class="md-modal md-effect-8" id="modal-8">
        <div class="md-content">
            <h3>Incorrect</h3>
            <div>
                <p>Pffft. No!</p>
                <button class=" topcoat-button--cta md-close">Close</button>
            </div>
        </div>
    </div>
    <script src="assets/lib/requirejs/require-2.1.8.js" data-main="assets/js/main"></script>
</body>

</html>
